

body {
    width: 100vw;
    height: 100vh;
}

button {
    min-height: 50px;
    /* width: 30vh; */
    margin: 10px;
}

.container {
    margin: auto;
    width: 50vw;
    /* min-height: 60vh; */
    border: 3px solid brown;
    display: grid;
}
